body {
  background-color: purple;
  text-align: left;
  border-style: double;
  border-width: 9px;
  border-radius: 15px;
  float: right;
  margin-right: 50px;
}
h3 {
  margin-right: 300px;
  margin-left: 100px;
}
h1 {
  font-weight: bold;
  font-family: monospace;
  font-size: 68px;
  text-decoration: underline;
  text-align: center;
}

}
img{
  width: 236px;
  margin: 14px;
  border-color: darkblue;
  border-width: 9px;
  border-style: dotted;
  border-radius: 13px;
  margin-left: 400px;
}
