body {
  background-color: purple;
  text-align: left;
  border-style: double;
  border-width: 9px;
  border-radius: 15px;
  float: right;
  margin-right: 400px;
}
p {
  color: whitesmoke;
  margin:13px;
}
h1 {
  font-weight: bold;
  font-family: monospace;
  font-size: 68px;
  text-decoration: underline
  text-align:center;
}

}
img{
  float: right;
  width: 256px;
  margin: 14px;
  border-color: darkblue;
  border-width: 9px;
  border-style: dotted;
  border-radius: 13px;
}
